vti_encoding:SR|utf8-nl
http\://downloads.sourceforge.net/firebird/firebird-2.0.3.12981-1-win32.exe:network_usage.htm
http\://www.firebirdsql.org/:network_usage.htm
http\://www.firebirdsql.org/index.php:network_usage.htm
